.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
  opacity: 0.8;
}
