@media (max-width: 1199.98px) {
  .navbar .logo img {
    height: 2.6rem;
  }

  .list.grid-view-filter {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 991.98px) {
  .list.list-view-filter .product-card {
    gap: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .list.list.list-view-filter .product-card .product-card-top a.d-block {
    width: 18rem;
  }
}

@media (max-width: 578.98px) {
  .cart-sider {
    width: 100%;
    right: -100%;
  }

  .youtube-iframe-video iframe.youtube-player {
    height: 50vh !important;
  }
  .list.list-view-filter .product-card {
    flex-direction: column;
  }
  .list.list.list-view-filter .product-card .product-card-top a.d-block {
    width: 20rem;
    max-width: 20rem;
  }
}

@media (max-width: 450px) {
  .list.grid-view-filter {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 85%;
    left: -85%;
  }
}
