.single-product-slider-main .swiper,
.single-product-slider .swiper {
  width: 100%;
  height: 100%;
}

.single-product-slider-main .swiper-slide,
.single-product-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.single-product-slider-main .swiper,
.single-product-slider .swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.single-product-slider-main .swiper-slide,
.single-product-slider .swiper-slide {
  background-size: cover;
  background-position: center;
}

.single-product-slider-main .mySwiper5,
.single-product-slider .mySwiper2 {
  height: 80%;
  width: 100%;
}

.single-product-slider-main .mySwiper4,
.single-product-slider .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 1rem 0;
}

.single-product-slider-main .swiper-slide img,
.single-product-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Slide CSS */
.single-product-slider-main .swiper-wrpper,
.single-product-slider .swiper-wrpper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product-slider-main .mySwiper4 .swiper-slide,
.single-product-slider .mySwiper .swiper-slide {
  border: 1px solid white;
  height: 10rem;
  cursor: pointer;
  background-color: var(--white);
  opacity: 0.8;
}

.single-product-slider-main .mySwiper4 .swiper-slide-thumb-active,
.single-product-slider-main .mySwiper6 .swiper-slide-thumb-active,
.single-product-slider .mySwiper .swiper-slide-thumb-active,
.single-product-slider .mySwiper3 .swiper-slide-thumb-active {
  border-color: var(--primary-color) !important;
  opacity: 1;
}

.single-product-slider-main .mySwiper4 .swiper-slide img,
.single-product-slider .mySwiper .swiper-slide img {
  display: block;
  width: 100%;
}

.single-product-slider-main .mySwiper6 .swiper-slide,
.single-product-slider .mySwiper3 .swiper-slide {
  width: 6rem !important;
  height: 6rem !important;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--stroke-color);
}

.size-radios-main label,
.size-radios label {
  display: inline-block;
  padding: 12px 10px;
  margin: 0 0.5rem 1rem 0;
  background-color: var(--stroke-color-light);
  border: 2px solid var(--stroke-color-light);
  transition: all 0.3s;
  cursor: pointer;
}

.size-radios-main input[type="radio"],
.size-radios input[type="radio"] {
  display: none;
}

.size-radios-main input[type="radio"]:checked + label,
.size-radios input[type="radio"]:checked + label {
  background: transparent;
}

/* Increase Decrease */
input.number {
  text-align: center;
  width: 8.5rem;
}

#number::-webkit-inner-spin-button,
#number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
