:root {
  /* colors */
  --primary-color: #00d8ff;
  --primary-color-light: #e0f7ff;
  --primary-color-2: #f94c43;
  --rating-color: #ebbf20;
  --text-color: #232323;
  --text-color-light: #707070;
  --text-color-dark: #1c1b1b;
  --light-color: #f6f6f6;
  --light-color-2: #f8f8f8;
  --stroke-color: #c1c1c1;
  --stroke-color-light: #ececec;

  --white: #ffffff;
  --black: #000000;

  /* font */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}
